/* Основной фон страницы */
body {
    background-color: #F4F7F6; /* Светлый серо-бежевый фон */
    color: #2C3E50; /* Темно-синий для текста */
}

/* Контейнер слайдера */
.carousel {
    position: relative;
    width: 100%; /* Слайдер растягивается на всю ширину экрана */
    height: 300px; /* Фиксированная высота слайдера */
    overflow: hidden; /* Прячем изображение, которое выходит за пределы */
    background-color: #F9FAFB; /* Очень светлый серый для слайдера */
}

/* Изображения в слайдере */
.carousel-item img {
    display: block;
    margin: 0 auto; /* Центрируем изображение */
    max-height: 100%; /* Ограничиваем максимальную высоту изображения */
    width: auto; /* Ширина автоматически подстраивается */
    height: 100%; /* Высота изображения будет равна высоте слайдера */
    object-fit: contain; /* Сохраняем пропорции изображения */
}

/* Стили для карточек */
.card {
    width: 100%;
    max-width: 300px; /* Максимальная ширина каждой карточки */
    margin: 10px; /* Отступы между карточками */
    border: 1px solid #E0E0E0; /* Светло-серая рамка */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень для карточек */
}

.card-img-top {
    width: 100%; /* Изображение на карточке будет масштабироваться */
    height: auto; /* Высота подстраивается пропорционально */
    object-fit: contain; /* Масштабируем изображение, не обрезая его */
    border-bottom: 1px solid #E0E0E0; /* Легкая рамка для изображения */
}

.card-body {
    background-color: #FFFFFF; /* Белый фон для содержимого карточки */
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    color: #2C3E50; /* Темно-синий цвет для заголовков */
}

.card-text {
    color: #7F8C8D; /* Пастельный серый для текста */
}

/* Стили для footer */
footer {
    background-color: #F1F3F5; /* Очень светлый серый фон */
    padding: 30px 0;
    text-align: center;
    color: #2C3E50; /* Темно-синий для текста */
}
footer a {
    color: #28A745; /* Мягкий зеленый для ссылок */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Аккордеон */
.accordion-button {
    background-color: #E9ECEF; /* Светлый серый фон для кнопок аккордеона */
    color: #2C3E50;
    border: 1px solid #E0E0E0;
}

.accordion-button:not(.collapsed) {
    background-color: #28A745; /* Зеленый фон для открытых кнопок аккордеона */
    color: #fff;
}

/* Стили кнопок */
.btn-custom {
    background-color: #28A745;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 10px;
}

.btn-custom:hover {
    background-color: #218838;
    cursor: pointer;
}